/*
  SOURCE CODE VERSION: 1.0
  FILE/TYPE: CSS
  PROGRAMMER: NELSON CHIDI (NELMATRIX)
  DATE-TIME CREATED: NOV 11, 2025; 3:51PM
  REPOSITORY: https://github.com/NelMatrix743/qr_code_generator_web_app.git
*/

* {
  padding: 0;
  margin: 0;
  font-family: 'consolas', sans-serif;
  box-sizing: border-box;
}

body {
  background: #262a2f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.main-container {
  width: 400px;
  padding: 25px 35px;
  /* position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); */
  background: #ffffff;
  border-radius: 10px;
}

.p-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.p-container p {
  font-weight: 600;
  font-size: 20px;
}

.input-fld {
  width: 100%;
  height: 40px;
  border: 2px solid #494eea;
  outline: 0;
  padding: 15px;
  font-size: 15px;
  margin: 10px 0 20px;
  border-radius: 50px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.generate-btn {
  width: 100%;
  height: 30px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #494eea;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  
}

.download-btn {
  display: none;  /* ivinsible until qrcode is generated */
  width: 100%;
  height: 30px;
  border: 2px solid #494eea;
  border-radius: 10px;
  background: none;
  color: #494eea;
  cursor: pointer;
  font-weight: 600;
}

/* implment style for click event */

.generate-btn:active {
  border: none;
  outline: none;
  background: #ffffff;
  color: #494eea;
}

.download-btn:active {
  border: none;
  outline: none;
  background: #494eea;
  color: #ffffff;
}

.img-container {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border: 1px solid #494eea;
}